@model LecturerClaimSystem.Models.Claim

<h2>Submit your Claim</h2>

<form asp-action="SubmitClaim" method="post" enctype="multipart/form-data">
    <div>
        <label for="LecturerName">Lecturer Name</label>
        <input type="text" id="LecturerName" name="LecturerName" required />
    </div>
    <div>
        <label for="LecturerSurname">Lecturer Surname</label>
        <input type="text" id="LecturerSurname" name="LecturerSurname" required />
    </div>
    <div>
        <label for="EmployeeNumber">Employee Number</label>
        <input type="text" id="EmployeeNumber" name="EmployeeNumber" required />
    </div>
    <div>
        <label for="ContactDetails">Contact Details</label>
        <input type="text" id="ContactDetails" name="ContactDetails" required />
    </div>

    <!-- File upload for supporting documents -->
    <div>
        <label for="SupportingDocument">Supporting Document</label>
        <input type="file" id="SupportingDocument" name="SupportingDocument" accept=".pdf,.jpg,.png,.docx" required />
    </div>

    <br><br/>

    <h2>Modules</h2>
    <div id="module-container">
        <div class="module-group">
            <h4>Module 1</h4>
            <div>
                <label>Module Name</label>
                <input name="Modules[0].ModuleName" class="form-control" />
            </div>
            <div>
                <label>Programme</label>
                <input name="Modules[0].Programme" class="form-control" />
            </div>
            <div>
                <label>Number of Hours</label>
                <input name="Modules[0].NumberOfHours" class="form-control" />
            </div>
            <div>
                <label>Hourly Rate</label>
                <input name="Modules[0].HourlyRate" class="form-control" />
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-secondary" id="add-module-btn">Add Another Module</button>
    <button type="submit" class="btn btn-primary">Submit Claim</button>
</form>

@section Scripts {
    <script>
        let moduleCount = 1;

        document.getElementById('add-module-btn').addEventListener('click', function () {
            moduleCount++;
            const moduleContainer = document.getElementById('module-container');

            const moduleGroup = document.createElement('div');
            moduleGroup.className = 'module-group';
            moduleGroup.innerHTML = `
                        <h4>Module ${moduleCount}</h4>
                        <div>
                            <label>Module Name</label>
                            <input name="Modules[${moduleCount - 1}].ModuleName" class="form-control" />
                        </div>
                        <div>
                            <label>Programme</label>
                            <input name="Modules[${moduleCount - 1}].Programme" class="form-control" />
                        </div>
                        <div>
                            <label>Number of Hours</label>
                            <input name="Modules[${moduleCount - 1}].NumberOfHours" class="form-control" />
                        </div>
                        <div>
                            <label>Hourly Rate</label>
                            <input name="Modules[${moduleCount - 1}].HourlyRate" class="form-control" />
                        </div>
                    `;

            moduleContainer.appendChild(moduleGroup);
        });
    </script>
}
